body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: transparent;
    color: #fff;
}

input, button {
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
}

button {
    color: #fff;
    border: 2px solid white;
    cursor: pointer;
}

.tasks {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.completed {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: line-through;
    opacity: 0.7;
    background-color: transparent;
}
